.trello-board {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.trello-list {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    /*box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);*/
    /*width: 250px;*/
}

.trello-card {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0.3vw 0.4vw rgba(0, 0, 0, 0.2);
}

.trello-card img {
    max-width: 100%;
}